ac/Makefile
ac/Makefile.in
ac/aclocal.m4
ac/config.guess
ac/autom4te.cache
ac/config.guess
ac/config.h
ac/config.h.in
ac/config.log
ac/config.status
ac/config.sub
ac/configure
ac/depcomp
ac/install-sh
ac/libtool
ac/ltmain.sh
ac/macros/l*.m4
ac/missing
ac/libmoddj_*.pc
ac/src/Makefile
ac/src/Makefile.in
ac/src/*/.deps
ac/src/*/Makefile
ac/src/*/Makefile.in
ac/src/*/lib*
ac/src/*/*.o
ac/src/*/.libs
ac/stamp-h1
*/*/build/*
.libs
.deps
.dirstamp
*.lo
*.o
*~
